
@font-face {
    font-family: "Odin-Logo-Font";
    src: url(/rsc/Norse-Bold.otf);
}

:root{
    --bg-color: rgb(249, 250, 251);
    --form-bg-color: white;
    font-family: "Roboto",Arial, sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

h1{
    font-size: 1.15rem;
    font-weight: 500;
}

input{
    height: 1.8rem;
    border: solid 1px rgb(233, 234, 236);
    border-radius: 3px;
}

label{
    font-size: .7em;
    font-weight: bold;
    letter-spacing: .1em;
    color: rgb(41, 49, 61);
}

.general-container{
    display: flex;
}

.right-container{
    flex: 2;
    max-width: 65vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.right-container-text h1 {
    padding-left: 3em;
    width: 60%;
    line-height: 1.5em; 
    margin-bottom: 1em; 
}

.left-container{
    position: relative;
    min-width: 30vw;

    flex: 1;
    height: 100vh;
    overflow: hidden;
}

.left-container-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: var(--form-bg-color);
    border: solid 1px rgb(240, 240, 240);
    padding:.6rem 0 1.7rem 3rem;
}

.form-h1{
    align-self: baseline;
    padding-bottom: 1rem;
}

.form-bottom-part{
    gap: 3rem;
    display: flex;
}

.input-type-right,
.input-type-left{
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.input-type-right{
    flex: 1;
}

.input-type-right div,
.input-type-left div{
    display: flex;
    flex-direction: column;
}

.input-type-right input,
.input-type-left input,
.form-submit-button button{
    box-sizing: border-box;
    width: 15vw;
    min-width: 150px;
    max-width: 200px;
}

.form-submit-button button{
    border: none;
    font-size: .9rem;
    padding: 1em .6em;
    border-radius: 10px;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    margin: 2.2em 0 0 3em;
    transition: opacity .2s ease;
}

.right-container-login{
    margin: 2rem 0 0 3rem;
}

.right-container-login span:hover{
    cursor: pointer;
    text-decoration: underline;
}

.form-submit-button button:hover{
    opacity: .8;
    cursor: pointer;
}

.form-submit-button button:active{
    opacity: .6;
    cursor: pointer;
}


/* shadows */
.form-content,
.form-submit-button button{
    box-shadow: 1px 8px 6px 1px rgba(0,0,0,0.11);
    -webkit-box-shadow: 1px 8px 6px 1px rgba(0,0,0,0.11);
    -moz-box-shadow: 1px 8px 6px 1px rgba(0,0,0,0.11);
}

/*left part of the page*/

.left-logo-container{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: .8em 0;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    top: calc(30vh - 80px)
}

.left-logo-container h1{
    padding-top: 1rem;
    font-family: "Odin-Logo-Font","Roboto", Helvetica, sans-serif;
    font-size: 5rem;
    margin: 0;
}

.odin-logo{
    width: 80px;
}

