
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    font-size: 1.15rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.general-container{
    display: flex;
}

.right-container{
    border: solid 1px blue;
    flex: 2;
    max-width: 65vw;
}

.right-container-text h1 {
    line-height: 1.5em; 
    margin-bottom: 1em; 
}

.left-container{
    min-width: 30vw;
    border: solid 1px red;
    flex: 1;
    height: 100vh;
    overflow: hidden;
}

.left-container-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form-content{
    border: solid 1px orange;
    height: 40vh;
    display: flex;
    align-items: center;
    gap: 4rem;
    padding-left: 3rem;
    flex-wrap: wrap;
}


.input-type-right,
.input-type-left{
    gap: 1rem;
    border: solid 1px blue;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.input-type-right{
    flex: 1;
}

.input-type-right div,
.input-type-left div{
    display: flex;
    flex-direction: column;
}

.input-type-right input,
.input-type-left input{
    width: 15vw;
    min-width: 150px;
}

