
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    font-size: 1.15rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

input{
    height: 1.65em;
    /* border: solid 1px rgb(239,240,242); */
    border: solid 1px rgb(233, 234, 236);
    border-radius: 3px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7em;
    font-weight: bold;
    letter-spacing: .1em;
    color: rgb(41, 49, 61);
}

.general-container{
    display: flex;
}

.right-container{
    border: solid 1px blue;
    flex: 2;
    max-width: 65vw;
}

.right-container-text h1 {
    line-height: 1.5em; 
    margin-bottom: 1em; 
}

.left-container{
    min-width: 30vw;
    border: solid 1px red;
    flex: 1;
    height: 100vh;
    overflow: hidden;
}

.left-container-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form-content{
    border: solid 1px orange;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 3rem;
}

.form-h1{
    align-self: baseline;
}

.form-bottom-part{
    gap: 3rem;
    display: flex;
}

.input-type-right,
.input-type-left{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.input-type-right{
    flex: 1;
}

.input-type-right div,
.input-type-left div{
    display: flex;
    flex-direction: column;
}

.input-type-right input,
.input-type-left input{
    width: 15vw;
    min-width: 150px;
}

